<section class="container-fluid success_box">
    <div class="container">
        <div class="s_mes text-center">
            <h3>Successfully Booked the flight</h3>
        </div>
        <div class="s_text">
            <h4>Happy Journey</h4>
    
        </div>
        <div class="tm_box">
            <p>Terms & Conditions</p>
            <ul>
                <li>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse commodo nulla vitae mauris iaculis tempor.
                </li>
                <li>Nulla porta quam non ultrices egestas. Sed eu porttitor nisi.
                    Donec tincidunt dignissim urna auctor laoreet.</li>
                <li> Integer imperdiet
                    ultricies luctus. Nullam sit amet erat in metus malesuada pellentesque
                    vel ut elit. Nunc in dapibus massa. Donec eu efficitur magna, eget
                    consequat nulla.</li>
                <li> Sed pharetra, ex lacinia consequat rutrum, lorem
                    risus egestas arcu, ornare aliquet eros lectus vel est. Aliquam venenatis
                    rutrum venenatis.</li>
                <li> Vivamus aliquam quis turpis sed ultrices. Pellentesque
                    laoreet efficitur lacinia. Vestibulum pellentesque semper porttitor.
                    Nullam volutpat tortor a lorem vehicula dapibus.</li>
                <li></li>
                <li>Nunc dapibus tempor facilisis. Maecenas eu ligula eget lacus aliquet molestie ut nec sem.
                    Curabitur ac sem vel justo fringilla pretium at id metus.
                    Proin in elit nec quam pharetra vestibulum.</li>
            </ul>
        </div>
    </div>
    </section>
    
